.container1{
	width:100%;
	background-color:#336699;
	}

	.container1 a{
		color:#003322;
		
	}
ul li a{
	color:#edeeef;
}

	
.container2{
	background-color:#009999;
}
.container2 a{
		color:#330033;
		
	}
.container2 ul{
	padding:10px;
}

.container3{
	background-color:#003366;
}
.container3 a{
		color:white;
		
	}
.container3 ul{
	padding:10px;
}
form{
	 background:#dedfe0;
	 text-align:center;
 }

 .btn{
	
	background-color:#862d59;
	color:white;
	position:center;
}

.btn-primary{
	position:right;
}